<%= render 'dashboard_header'%>

<div class="charity-bookmarks">
    <div id="charity-settings" class="charity-dashboard">
      <%= render 'settings'%>
    </div>
    <div id="charity-activity" class="charity-dashboard">
      <%= render 'activity'%>
    </div>
    <div id="charity-restaurants" class="charity-dashboard">
      <%= render 'restaurants'%>
    </div>
    <div id="charity-bank" class="charity-dashboard">
      <%= render 'bank'%>
    </div>
</div>

