<div class="container">
  <h1>NPO NAME</h1>
  <div id="navnpo">
    <ul>
      <li class="<%= 'active' if current_page?(charity_path) %>"><%= link_to 'Activity', charity_path %></li>
      <li class="<%= 'active' if current_page?(restaurants_charity_path) %>"><%= link_to 'Restaurants', restaurants_charity_path %></li>
      <li class="<%= 'active' if current_page?(bank_charity_path) %>"><%= link_to 'Bank', bank_charity_path %></li>
    </ul>
  </div>
</div>